<ul>
  <li routerLinkActive="seleccionado"><a routerLink="/binding">Binding</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/galeria" >Galería</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/usuarios" >Usuarios</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/usuarios-master" >Usuarios Master</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/template-variables" >Variables de plantilla</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/form/template" >Formulario template-driven</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/observables" >Observables</a></li>
</ul>
