<ul>
  <li routerLinkActive="seleccionado"><a routerLink="/binding">Binding</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/galeria" >Galería</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/usuarios" >Usuarios</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/usuarios-master" >Usuarios Master</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/template-variables" >Variables de plantilla</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/form/template" >Formulario template-driven</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/observables" >Observables</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/impure-pipe" >Pipes impuras</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/lazy1" >Lazy 1</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/lazy2" >Lazy 2</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/lazy3" >Lazy 3</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/lazy4" >Lazy 4</a></li>
  <li routerLinkActive="seleccionado"><a routerLink="/lazy5" >Lazy 5</a></li>
</ul>
